/* Phone */

@media (max-width: 600px) {
  .main-container {
    grid-template-columns: 1fr;
    padding: 20px 10px;
    gap: 25px;
  }

  nav {
    justify-content: center;
    flex-wrap: wrap;
  }

  .navigation {
    padding: 20px 14px;
  }

  nav a {
    font-size: 1rem;
  }

  .side-bar {
    position: static;
    width: 100%;
    padding: 20px 15px;
  }

  .main-content {
    width: 100%;
    padding: 20px 15px;
  }

  #about h2,
  #skills h2,
  #education h2,
  #protfolio h2 {
    font-size: 1.3rem;
  }

  #about p {
    font-size: 0.9rem;
    line-height: 1.6;
  }

  .skills-container {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }

  .skills h3 {
    font-size: 0.75rem;
    font-weight: 600;
  }

  .year {
    font-size: 0.7rem;
  }

  .degree {
    font-size: 0.9rem;
  }

  .college {
    font-size: 0.6rem;
  }

  .learning {
    font-size: 0.7rem;
    text-align: justify;
  }

  .project-container {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .project-detail h3 {
    font-size: 1rem;
  }

  .project-detail {
    padding: 10px 15px;
  }
}

/* Footer Section */

  @media (max-width: 900px) {
  .footer-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .footer-container {
    grid-template-columns: 1fr;
  }
}
